# Qt / CMake / Build folders
cross-platafrom/build/
cross-plataform/json
build-*/
*.pro.user
*.user
*.user.*
*.autosave

# Makefiles gerados
Makefile
Makefile.*
*.make

# Qt Creator / CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Android Qt build
android-build/
*.apk
*.aab
*.so

# Objetos compilados
*.o
*.obj
*.lo
*.a
*.lib
*.dll
*.exe
*.out