QWidget {
    background-color: #121212;
    color: #E6E6E6;
    font-family: "Segoe UI";
    font-size: 14px;
}

QLabel { color: #E6E6E6; }
QLabel#title { font-size: 22px; font-weight: 600; color: #FFFFFF; }

QFrame {
    background-color: #161616;
    border: 1px solid #242424;
    border-radius: 14px;
}

QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: #181818;
    color: #FFFFFF;
    border: 1px solid #2A2A2A;
    border-radius: 10px;
    padding: 8px 10px;
}
QLineEdit:focus { border: 1px solid #00e5ff; }

QPushButton {
    background-color: #1C1C1C;
    color: #EAEAEA;
    border: 1px solid #2A2A2A;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    max-width: 300px;
}
QPushButton:hover { background-color: #222222; border: 1px solid #00e5ff; }
QPushButton:pressed { background-color: #171717; border: 1px solid #00b8d4; }


QScrollBar:vertical { background: transparent; width: 10px; }
QScrollBar::handle:vertical { background: #2A2A2A; border-radius: 5px; min-height: 30px; }
QScrollBar::handle:vertical:hover { background: #00e5ff; }
