QWidget {
    background-color: #12181f;
    color: #E6E6E6;
    font-family: "Segoe UI";
    font-size: 14px;
}

QLabel {
    color: #E6E6E6;
}

QLabel#title {
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
}

/* Cards e barras em tons Dark / Grafite neutro */
QFrame#card {
    background-color: #1E1E1E;
    border: 1px solid #2A2A2A;
    border-radius: 14px;
}

QFrame#bottomBar {
    background-color: #181818;
    border: none;
    border-radius: 0px;
}

/* Campos de texto retos em escuro neutro */
QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: #181818;
    color: #FFFFFF;
    border: 1px solid #2A2A2A;
    border-radius: 0px;
    padding: 8px 10px;
}

QLineEdit:focus, QTextEdit:focus, QPlainTextEdit:focus {
    border: 1px solid #00E5FF;
}

/* Botões sem arredondamento em escuro neutro */
QPushButton {
    background-color: #d6d6d6;
    color: #1F1F1F;
    border: 1px solid #2A2A2A;
    border-radius: 0px;
    padding: 10px 14px;
    font-weight: 600;
    max-width: 300px;
}

QPushButton[class="tab-button"] {
    background: transparent;
    color: #8A889D;
    font-weight: bold;
    font-size: 13px;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 8px 16px;
}

QPushButton[class="tab-button"]:hover {
    color: #FFFFFF;
}

/* Tab selecionada: Fundo cinza bem discreto + linha inferior */
QPushButton[class="tab-button"][active="true"] {
    color: #FFFFFF;
    background-color: #1D1B26;
    border-bottom: 2px solid #D1D1D6; /* Ou a cor de acento do seu app */
    border-radius: 4px 4px 0px 0px;
}
QPushButton:pressed {
    background-color: #141414;
    border: 1px solid #00B8D4;
}

/* Barra de rolagem */
QScrollBar:vertical {
    background: transparent;
    width: 10px;
    margin: 0px;
}

QScrollBar::handle:vertical {
    background: #2A2A2A;
    border-radius: 0px;
    min-height: 30px;
}

QScrollBar::handle:vertical:hover {
    background: #00E5FF;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    border: none;
    background: none;
    height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}