body {
    background-image: url(background.jpeg);
    font-family: 'Segoe UI', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    color: black;

    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Faz o conteúdo principal ficar centralizado */
.box {
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: 40px;
    border-radius: 12px;

    border: 1px solid rgba(255,255,255,0.3);

    width: fit-content;
    max-width: 600px;

    margin: auto;
    text-align: center;
}

.card {
    padding: 20px;
    text-align: center;
}

h1, p {
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
}

footer {
    text-align: center;
    padding: 15px;
    border-top: 2px solid #30363d;
    font-size: 14px;
    background-color: black;
    width: 100%;
    margin-top: auto;
    color: white;
}

footer a {
    color: #7aa2ff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.box:hover {
    transform: scale(1.02);
    transition: 0.3s;
}