<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.linka.app" android:versionCode="1" android:versionName="1.0">
    <application android:label="Linka" android:icon="@mipmap/ic_launcher" android:name="org.qtproject.qt5.android.bindings.QtApplication">
        <activity android:name="org.qtproject.qt5.android.bindings.QtActivity" android:label="Linka" android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
