<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:label="Linka Lite"
    android:icon="@drawable/icon"
    android:usesCleartextTraffic="true">
        <service
            android:name=".AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <activity 
            android:name=".LoginActivity" 
            android:label="LinkaLite"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".SignupActivity" 
            android:label="Register"
            android:exported="false" />
            
        <activity 
            android:name=".HomeActivity" 
            android:label="Feed"
            android:exported="false" />
        <activity
            android:name=".newPost"
            android:label="New post"
            android:exported="false"/>
        <activity android:name=".comments_activity" />
        <activity
            android:name=".chatActivity"
            android:label="Chat"
            android:exported="false"/>
        <activity
            android:name=".ChatGlobalActivity"
            android:label="Global Chat"
            android:exported="false"/>
        <activity
            android:name=".profile"
            android:label="My profile"
            android:exported="false"/>
        <activity
            android:name=".optionActivity"
            android:label="Options"
            android:exported="false"/>
        <activity
            android:name=".addFriendActivity"
            android:label="Add friends"
            android:exported="false"/>
        <activity
            android:name=".InboxActivity"
            android:label="Inbox"
            android:exported="false"/>
        <activity
            android:name=".DmChat"
            android:label="chat"
            android:exported="false"/>
        <activity
            android:name=".ChangeServer"
            android:label="change server"
            android:exported="false"/>
        <activity
            android:name=".feedFinder"
            android:label="Feed Finder"
            android:exported="false"/>
        <activity
            android:name=".FederationsFeed"
            android:label="Federations feed"
            android:exported="false"/>
        <activity
            android:name=".newChat"
            android:label="New chat"
            android:exported="false"/>
        <activity
            android:name=".NewGroupActivity"
            android:label="New group"
            android:exported="false"/>
        <activity
            android:name=".EditAccount"
            android:label="Edit account"
            android:exported="false"/>
        <activity
            android:name=".ChannelsGroupActivity"
            android:label="Channels"
            android:exported="false"/>
        <activity android:name=".GroupChatActivity" 
            android:label="Group Chat"/>
        <activity android:name=".ExternalChat" 
            android:label="External chat"/>
        <activity android:name=".DmExternalChat" 
            android:label="External chat"/>
        <activity android:name=".ViewProfile" 
            android:label="View profile"/>
        <activity android:name=".ChangeBiography" 
            android:label="Change biography"/>
        <activity android:name=".EnterGroup" 
            android:label="Enter group with code"/>
        <activity android:name=".AddGroupChannel" 
            android:label="Add group channel"/>
        <activity android:name=".AddGroupMember" 
            android:label="Add group Member"/>
        <activity android:name=".ConfigGroup" 
            android:label="Config group"/>
    </application>
</manifest>