<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ESSENCIAL: Permissão de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="Linka Lite"
    android:icon="@drawable/icon"
    android:usesCleartextTraffic="true">
        
        <!-- Tela de Login (A primeira que vai abrir) -->
        <activity 
            android:name=".LoginActivity" 
            android:label="LinkaLite"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de Cadastro -->
        <activity 
            android:name=".SignupActivity" 
            android:label="Register"
            android:exported="false" />
            
        <!-- Página Inicial -->
        <activity 
            android:name=".HomeActivity" 
            android:label="Feed"
            android:exported="false" />
        <activity
            android:name=".newPost"
            android:label="New post"
            android:exported="false"/>
        <activity android:name=".comments_activity" />
        
    </application>
</manifest>